# Importing Stock Data from a CSV File

In this section, we will learn how to import stock data from a CSV file into a Pandas DataFrame. This is a crucial step in any data analysis process as it allows us to work with historical stock data for further analysis and insights.

## What You Will Learn

- How to read stock data from a CSV file using Pandas.
- How to set the date column as the index for easier time-series analysis.
- The importance of preparing your data for analysis.

## Getting Started

First, ensure you have your stock data saved in a CSV file. For this example, we will be using Apple stock data stored in a file named `AAPL_data.csv`. 

Let's start by importing the necessary libraries and reading the stock data into a DataFrame.

In [4]:
import pandas as pd

# Read data from a CSV file into a DataFrame
apple = pd.read_csv('AAPL_data.csv')
print(apple.head())

         date     open     high      low    close     volume  Name
0  2013-02-08  67.7142  68.4014  66.8928  67.8542  158168416  AAPL
1  2013-02-11  68.0714  69.2771  67.6071  68.5614  129029425  AAPL
2  2013-02-12  68.5014  68.9114  66.8205  66.8428  151829363  AAPL
3  2013-02-13  66.7442  67.6628  66.1742  66.7156  118721995  AAPL
4  2013-02-14  66.3599  67.3771  66.2885  66.6556   88809154  AAPL

## Fetching the Open Price of Apple Stock

In this section, we will learn how to retrieve specific data points from our DataFrame using two different indexing methods: `loc` and `iloc`. 

### What You Will Learn

- How to use `loc` for label-based indexing to access the open price for Apple on a specific date.
- How to use `iloc` for position-based indexing to achieve the same result.

### Example: Open Price on February 11th, 2013

Let's fetch the open price for Apple on February 11th, 2013. The date corresponds to the index of the DataFrame, and we will demonstrate both methods to access this data:

- **Using `loc`**: This method accesses rows and columns by their labels.
- **Using `iloc`**: This method accesses rows and columns by their integer positions.

Now, let's see how we can retrieve the open price using both methods.

In [88]:
#Fetching the open price for the open price of apple on the 11th of Feb 2013, using loc and iloc 


# Using loc (label-based indexing)
print(f"The open price for Apple on February 11th, 2013 using loc is: {apple.loc[1, 'open']}")

# Using iloc (position-based indexing)
print(f"The open price for Apple on February 11th, 2013 using iloc is: {apple.iloc[1, 1]}")

The open price for Apple on February 11th, 2013 using loc is: 68.0714
The open price for Apple on February 11th, 2013 using iloc is: 68.0714

## Checking the DataFrame Columns

Here, we display the columns of the Apple stock DataFrame. This helps us understand the available data fields for analysis.

In [90]:
print(apple.columns)
# Output: Index(['date', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'Name'], dtype='object')

## Checking the DataFrame Shape

This code snippet shows the shape of the Apple stock DataFrame, indicating the number of rows and columns. This helps us understand the size of our dataset.

In [2]:
print(apple.shape)
# Output: (500, 6)  # 500 rows and 6 columns

(1259, 7)

## Viewing the Last Few Rows of the DataFrame

This code displays the last five rows of the Apple stock DataFrame, allowing us to quickly review the most recent data entries.

In [92]:
print(apple.tail())
# Output: Last 5 rows of the DataFrame

            date     open    high       low   close    volume  Name
1254  2018-02-01  167.165  168.62  166.7600  167.78  47230787  AAPL
1255  2018-02-02  166.000  166.80  160.1000  160.50  86593825  AAPL
1256  2018-02-05  159.100  163.88  156.0000  156.49  72738522  AAPL
1257  2018-02-06  154.830  163.72  154.0000  163.03  68243838  AAPL
1258  2018-02-07  163.085  163.40  159.0685  159.54  51608580  AAPL

## Viewing the First Few Rows of the DataFrame

This code shows the first five rows of the Apple stock DataFrame, which helps us to understand the structure and initial entries of the dataset.

In [93]:
print(apple.head())
# Output: First 5 rows of the DataFrame

         date     open     high      low    close     volume  Name
0  2013-02-08  67.7142  68.4014  66.8928  67.8542  158168416  AAPL
1  2013-02-11  68.0714  69.2771  67.6071  68.5614  129029425  AAPL
2  2013-02-12  68.5014  68.9114  66.8205  66.8428  151829363  AAPL
3  2013-02-13  66.7442  67.6628  66.1742  66.7156  118721995  AAPL
4  2013-02-14  66.3599  67.3771  66.2885  66.6556   88809154  AAPL

In [94]:
apple['date']

0       2013-02-08
1       2013-02-11
2       2013-02-12
3       2013-02-13
4       2013-02-14
           ...
1254    2018-02-01
1255    2018-02-02
1256    2018-02-05
1257    2018-02-06
1258    2018-02-07
Name: date, Length: 1259, dtype: object

In [95]:
apple[['open','date']]
#Keep an eye out for the double brackets

          open        date
0      67.7142  2013-02-08
1      68.0714  2013-02-11
2      68.5014  2013-02-12
3      66.7442  2013-02-13
4      66.3599  2013-02-14
...        ...         ...
1254  167.1650  2018-02-01
1255  166.0000  2018-02-02
1256  159.1000  2018-02-05
1257  154.8300  2018-02-06
1258  163.0850  2018-02-07

[1259 rows x 2 columns]

## Setting the Date as the Index

This code sets the 'date' column as the index of the DataFrame. This is important for time series analysis, allowing us to easily access stock data by date. Note that this command should only be run once, as it removes the 'date' column from the DataFrame.

In [100]:
apple.set_index('date', inplace=True)#Command to set the index to date
#You can only call this once, without having to rerun the whole jupyter notebook - as once the function is called - 
#The column date would not exist anymore
print(apple.head())

               open     high      low    close     volume  Name
date
2013-02-08  67.7142  68.4014  66.8928  67.8542  158168416  AAPL
2013-02-11  68.0714  69.2771  67.6071  68.5614  129029425  AAPL
2013-02-12  68.5014  68.9114  66.8205  66.8428  151829363  AAPL
2013-02-13  66.7442  67.6628  66.1742  66.7156  118721995  AAPL
2013-02-14  66.3599  67.3771  66.2885  66.6556   88809154  AAPL

## Working with Tesla Stock Data

Now that you've set up the Apple stock data, let's do the same with Tesla stock data. Follow the same steps to import the Tesla stock data CSV file, inspect the data structure, check the dimensions, and set the date as the index. This will help you understand how to manipulate and analyze different stock datasets in a consistent manner.

1. **Import Tesla Stock Data**: Load the Tesla stock data from the CSV file.
2. **Inspect Columns**: Check the columns in the DataFrame to understand what data is available.
3. **Check Dimensions**: Use the shape attribute to see how many rows and columns the Tesla dataset contains.
4. **View Last Rows**: Use the `tail()` function to display the last 5 rows of the DataFrame.
5. **View First Rows**: Use the `head()` function to display the first 5 rows of the DataFrame.
6. **Set Date as Index**: Set the 'date' column as the index for the Tesla DataFrame.

Feel free to copy the relevant code snippets from the Apple section and modify them to apply to the Tesla dataset!

Do not forget to comment your code!

In [3]:
tesla = pd.read_csv('TSLA.csv')
print(tesla.head())

         Date   Open   High    Low  Close  Adj Close    Volume
0  2010-06-29  3.800  5.000  3.508  4.778      4.778  93831500
1  2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500
2  2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000
3  2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000
4  2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500